.App {
  text-align: center;
}

.splash {
  background-image: url('https://images.unsplash.com/photo-1504406242839-6e462b3ccb91?dpr=1&auto=compress,format&fit=crop&w=1520&h=&q=80&cs=tinysrgb&crop=');
  height: 800px;
  display: flex;
  justify-content: center;
}

input {
  text-align: center;
  color: white;
  font-size: 4em;
  border: none;
  background: rgba(0, 0, 0, 0);
  outline: none;
}

::-webkit-input-placeholder { /* Chrome */
  color: white;
  transition: opacity 250ms ease-in-out;
}
:focus::-webkit-input-placeholder {
  opacity: 0.5;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
  transition: opacity 250ms ease-in-out;
}
:focus:-ms-input-placeholder {
  opacity: 0.5;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
:focus::-moz-placeholder {
  opacity: 0.5;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: white;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
:focus:-moz-placeholder {
  opacity: 0.5;
}

.circle {
  align-self: center;
  border: 4px solid white;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.NavBar {
  background-color: #a0a0ec;
}

a {
  text-decoration: none;
  color: white;
}

nav {
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav a {
  margin-left: 20px;
}
